<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>组织机构</key>
	<array>
		<string>组织编号</string>
		<string>组织名字</string>
		<string>组织类型</string>
		<string>组织上级编号</string>
		<string>组织</string>
		<string>组织标志</string>
		<string>组织状态</string>
		<string>类型编号</string>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
		<string>7</string>
		<string>8</string>
		<string>9</string>
		<string>10</string>
		<string>11</string>
		<string>12</string>
		<string>13</string>
		<string>14</string>
		<string>15</string>
		<string>16</string>
		<string>17</string>
	</array>
	<key>组织机构 - 1</key>
	<array>
		<string>组织编号</string>
		<string>组织名字</string>
	</array>
	<key>组织结构</key>
	<dict>
		<key>海印又一城</key>
		<dict>
			<key>主页</key>
			<string></string>
			<key>销售对比</key>
			<string>柜组销售分析</string>
			<key>销售客单</key>
			<string></string>
			<key>结算汇总</key>
			<string></string>
			<key>会员分析</key>
			<string></string>
			<key>购物卡销售</key>
			<string></string>
		</dict>
	</dict>
	<key>SQL中数据简写与实际名称对应</key>
	<dict>
		<key>柜组销售分析</key>
		<dict>
			<key>CLASS2</key>
			<string>楼层</string>
			<key>SPBM</key>
			<string>部门</string>
			<key>BQSR</key>
			<string>本期销售</string>
			<key>BQML</key>
			<string>本期毛利</string>
			<key>TQSR</key>
			<string>同期销售</string>
			<key>TQML</key>
			<string>同期毛利</string>
			<key>HBSR</key>
			<string>环比销售</string>
			<key>HBML</key>
			<string>环比毛利</string>
		</dict>
		<key>结算汇总</key>
		<dict>
			<key>New item</key>
			<string>结算单号</string>
			<key>New item - 2</key>
			<string>供应商名次</string>
			<key>New item - 3</key>
			<string>本期应结</string>
			<key>New item - 4</key>
			<string>本期销售</string>
			<key>New item - 5</key>
			<string>上期结余</string>
			<key>New item - 6</key>
			<string>月末应付</string>
			<key>New item - 7</key>
			<string>费用累计</string>
		</dict>
		<key>销售对比</key>
		<dict>
			<key>CLASS1</key>
			<string>商城</string>
			<key>CLASS2</key>
			<string>楼层</string>
			<key>BQSR</key>
			<string>本期销售</string>
			<key>BQML</key>
			<string>本期毛利</string>
			<key>TQSR</key>
			<string>同期销售</string>
			<key>TQML</key>
			<string>同期毛利</string>
			<key>HBSR</key>
			<string>环比销售</string>
			<key>HBML</key>
			<string>环比毛利</string>
		</dict>
		<key>会员分析</key>
		<dict>
			<key>PPCODE</key>
			<string></string>
			<key>LC</key>
			<string>楼层</string>
			<key>MFID</key>
			<string>部门</string>
			<key>T_KDS</key>
			<string>总客单数</string>
			<key>T_YHKDS</key>
			<string>会员客单数</string>
			<key>T_XFJE</key>
			<string>总消费额</string>
			<key>T_HYXFJE</key>
			<string>会员消费额</string>
			<key>T_HYML</key>
			<string>会员毛利</string>
			<key>T_TQXFE</key>
			<string>同期消费额</string>
			<key>T_TXHYXFE</key>
			<string>同期会员消费额</string>
			<key>T_HQXFE</key>
			<string>环期消费额</string>
			<key>T_HQHYXFE</key>
			<string>环期会员消费额</string>
		</dict>
		<key>销售客单</key>
		<dict>
			<key>SPBM</key>
			<string>部门</string>
			<key>CLASS2</key>
			<string>楼层</string>
			<key>XSSR</key>
			<string>销售金额</string>
			<key>XSSL</key>
			<string>销售数量</string>
			<key>THSL</key>
			<string>退货数量</string>
			<key>ML</key>
			<string>毛利</string>
			<key>JYDS</key>
			<string>交易单数</string>
			<key>JYBS</key>
			<string>交易笔数</string>
			<key>KDJ</key>
			<string>客单价</string>
			<key>BDJ</key>
			<string>笔单价</string>
			<key>YLJXSSR</key>
			<string>月累计销售</string>
			<key>MFYYMJ</key>
			<string>营业面积</string>
			<key>PX</key>
			<string>坪效</string>
			<key>THL</key>
			<string>退货率</string>
			<key>MLL</key>
			<string>毛利率</string>
		</dict>
		<key>组织机构</key>
		<dict>
			<key>MFCODE</key>
			<string>组织编号</string>
			<key>MFCNAME</key>
			<string>组织名字</string>
			<key>MFCLASS</key>
			<string>组织类型</string>
			<key>MFFCODE</key>
			<string>组织上级编号</string>
			<key>MFPCODE</key>
			<string>组织</string>
			<key>MFFLAG</key>
			<string>组织标志</string>
			<key>MFSTATUS</key>
			<string>组织状态</string>
			<key>MFTYPECODE</key>
			<string>类型编号</string>
			<key>MFISWEB</key>
			<string>1</string>
			<key>MFCGLX</key>
			<string>2</string>
			<key>MLSFS</key>
			<string>3</string>
			<key>MFISJJPS</key>
			<string>4</string>
			<key>MFISJJBL</key>
			<string>5</string>
			<key>MFDEFJSYJ</key>
			<string>6</string>
			<key>MFISXH</key>
			<string>7</string>
			<key>MFISMGYS</key>
			<string>8</string>
			<key>MFEMAIL</key>
			<string>9</string>
			<key>MFYYMJ</key>
			<string>10</string>
			<key>MFISAREACENTER</key>
			<string>11</string>
			<key>MFINITFLAG</key>
			<string>12</string>
			<key>MFMANAUNIT</key>
			<string>13</string>
			<key>MFCATTYPE</key>
			<string>14</string>
			<key>MFGTMJ</key>
			<string>15</string>
			<key>MFGTL</key>
			<string>16</string>
			<key>MFLAST_MODIFIED</key>
			<string>17</string>
		</dict>
	</dict>
	<key>主页</key>
	<array>
		<string>商场</string>
		<string>本期销售</string>
		<string>本期毛利</string>
		<string>同期销售</string>
		<string>同期毛利</string>
		<string>同期增长率</string>
		<string>环比销售</string>
		<string>环比毛利</string>
		<string>环比增长率</string>
	</array>
	<key>购物卡销售</key>
	<array>
		<string>日期</string>
		<string>卡类型</string>
	</array>
	<key>会员分析</key>
	<array>
		<string>楼层</string>
		<string>部门</string>
		<string>总客单数</string>
		<string>会员客单数</string>
		<string>总消费额</string>
		<string>会员消费额</string>
		<string>总毛利</string>
		<string>会员毛利</string>
		<string>同期消费额</string>
		<string>同期会员消费额</string>
		<string>环期消费额</string>
		<string>环期会员消费额</string>
	</array>
	<key>结算汇总</key>
	<array>
		<string>结算单号</string>
		<string>供应商名次</string>
		<string>本期应结</string>
		<string>本期销售</string>
		<string>上期结余</string>
		<string>月末应付</string>
		<string>费用累计</string>
	</array>
	<key>销售客单</key>
	<array>
		<string>部门</string>
		<string>销售金额</string>
		<string>销售数量</string>
		<string>退货数量</string>
		<string>毛利</string>
		<string>交易单数</string>
		<string>交易笔数</string>
		<string>客单价</string>
		<string>笔单价</string>
		<string>月累计销售</string>
		<string>营业面积</string>
		<string>坪效</string>
		<string>退货率</string>
		<string>毛利率</string>
	</array>
	<key>销售对比</key>
	<array>
		<string>楼层</string>
		<string>本期销售</string>
		<string>本期毛利</string>
		<string>同期销售</string>
		<string>同期毛利</string>
		<string>环比销售</string>
		<string>环比毛利</string>
	</array>
	<key>柜组销售分析</key>
	<array>
		<string>部门</string>
		<string>本期销售</string>
		<string>本期毛利</string>
		<string>同期销售</string>
		<string>同期毛利</string>
		<string>环比销售</string>
		<string>环比毛利</string>
	</array>
</dict>
</plist>
